body{
    color: white;
}
#fons{
    background-image   : url('https://i.redd.it/hpg0a0u5kl201.gif');
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    background-size: 100% 100%;
    border: 1px solid red;
    background-position: center
}