#fons {
    background-image   : url('https://dennisreep.nl/dbd/images/bg.jpg');
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100% 100%;
    border: 1px solid red;
    background-position: center;
}

#logo {
    background-position: center;
    position: absolute;
    height: 29%;
    width: 15%;
    background-repeat: repeat;
    padding-top: 1em;
    padding-left: 40%;
}

#trapper {
    padding-top: 20em;
    padding-left: 8em;
    display: inline-block;
}

#wraith {
    padding-top: 20em;
    padding-left: 8em;
    display: inline-block;
}

#hillbilly {
    padding-top: 20em;
    padding-left: 8em;
    display: inline-block;
}

#nurse {
    padding-top: 20em;
    padding-left: 8em;
    display: inline-block;
}

#huntress {
    padding-top: 20em;
    padding-left: 8em;
    display: inline-block;
}

#legion {
    padding-top: 12em;
    padding-left: 8em;
    display: inline-block;
}

#lacosa {
    padding-top: 12em;
    padding-left: 8em;
    display: inline-block;
}

#hag {
    padding-top: 12em;
    padding-left: 8em;
    display: inline-block;
}

#cannibal {
    padding-top: 12em;
    padding-left: 8em;
    display: inline-block;
}

#doctor {
    padding-top: 12em;
    padding-left: 8em;
    display: inline-block;
}

#nightmare {
    padding-top: 12em;
    padding-left: 12em;
    display: inline-block;
}

#pig {
    padding-top: 12em;
    padding-left: 12em;
    display: inline-block;
}

#clown {
    padding-top: 12em;
    padding-left: 12em;
    display: inline-block;
}

#spirit {
    padding-top: 12em;
    padding-left: 12em;
    display: inline-block;
}

#asesins {
color: yellow;
}

h4 {
text-align: center;
}

