

header {
    background-image   : url('https://stmed.net/sites/default/files/dead-by-daylight-hd-wallpapers-32951-4555138.gif');
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100% 100%;
    height: 1000px;
    border: 1px solid red;
    background-position: center
    
}

#surv {
    border: solid 2px;
    border-color: black;
    color: white;
    background-color: red;
    box-shadow: 5px 5px #888888;
    margin: auto;
    font-weight: 800;
    font-size: 20px;
    margin-left: 58%;
    margin-top: 850px;
}

#killer {
    border: solid 2px;
    border-color: black;
    color: white;
    background-color: red;
    box-shadow: 5px 5px #888888;
    font-weight: 800;
    font-size: 20px;
    margin-left: 33%;
    margin-top: -30px;
}

#formulari {
    border: solid 2px;
    border-color: red;
    color: black;
    background-color: white;
    box-shadow: 5px 5px #888888;
    font-weight: 800;
    font-size: 20px;
    margin-top: -879px;
}

#text{
    text-align: center;
    margin-top: -200px; 
    color: white;
    font-size: 50px;
    
}

#red{
    color:coral;
    text-align: center;
    font-size: 30px;
    margin-top: -50px;
}

#linia{
    border: solid 2px;
    border-color: aqua;
    margin-top: -700px;
}
#youtube{
    margin: auto;
    align-content: center;
    align-items:center; 
}
