#fons {
    background-image   : url('https://dennisreep.nl/dbd/images/bg.jpg');
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100% 100%;
    border: 1px solid red;
    background-position: center
}

#logo {
    background-position: center;
    position: absolute;
    height: 29%;
    width: 15%;
    background-repeat: repeat;
    padding-top: 1em;
    padding-left: 40%;
}

#dwight {
    padding-top: 20em;
    padding-left: 9em;
    display: inline-block;
}

#meg {
    padding-top: 20em;
    padding-left: 9em;
    display: inline-block;
}

#claudette {
    padding-top: 20em;
    padding-left: 9em;
    display: inline-block;
}

#jake {
    padding-top: 20em;
    padding-left: 9em;
    display: inline-block;
}

#nea {
    padding-top: 20em;
    padding-left: 9em;
    display: inline-block;
}

#bill {
    padding-top: 12em;
    padding-left: 9em;
    display: inline-block;
}

#david {
    padding-top: 12em;
    padding-left: 9em;
    display: inline-block;
}

#jeff {
    padding-top: 12em;
    padding-left: 9em;
    display: inline-block;
}

#laurie {
    padding-top: 12em;
    padding-left: 9em;
    display: inline-block;
}

#ace {
    padding-top: 12em;
    padding-left: 9em;
    display: inline-block;
}

#feng {
    padding-top: 12em;
    padding-left: 9em;
    display: inline-block;
}

#quentin {
    padding-top: 12em;
    padding-left: 9em;
    display: inline-block;
}

#tapp {
    padding-top: 12em;
    padding-left: 9em;
    display: inline-block;
}

#kate {
    padding-top: 12em;
    padding-left: 9em;
    display: inline-block;
}

#adam {
    padding-top: 12em;
    padding-left: 9em;
    display: inline-block;
}

#survivors {
color: yellow;
}

h4 {
text-align: center;
}

